@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33333%;
}

.col-2-sm {
  width: 12.66667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33333%;
}

.col-5-sm {
  width: 37.66667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33333%;
}

.col-8-sm {
  width: 62.66667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33333%;
}

.col-11-sm {
  width: 87.66667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33333%;
  }
  .col-2 {
    width: 12.66667%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33333%;
  }
  .col-5 {
    width: 37.66667%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33333%;
  }
  .col-8 {
    width: 62.66667%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33333%;
  }
  .col-11 {
    width: 87.66667%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

.button-primary {
  background-color: #55bcc9 !important;
  color: white !important;
}

.button-primary:hover {
  background-color: #42a8b6 !important;
  color: white !important;
}

.button-primary:active {
  background-color: #3099a7 !important;
}

.button-secondary {
  background-color: #14a76c !important;
  color: white !important;
}

.button-secondary:hover {
  background-color: #159260 !important;
  color: white !important;
}

.button-secondary:active {
  background-color: #138155 !important;
}

.button-warning {
  background-color: #b23850 !important;
  color: white !important;
}

.button-warning:hover {
  background-color: #a13046 !important;
  color: white !important;
}

.button-warning:active {
  background-color: #94283e !important;
}

.button-nostalgia {
  background-color: #e9b658 !important;
  color: white !important;
}

.button-nostalgia:hover {
  background-color: #ddaa4b !important;
  color: white !important;
}

.button-nostalgia:active {
  background-color: #d4a244 !important;
}

.button-dark {
  background-color: #313131 !important;
  color: white !important;
}

.button-dark:hover {
  background-color: #252525 !important;
  color: white !important;
}

.button-dark:active {
  background-color: #141414 !important;
}

.button-light {
  background-color: #ebebeb !important;
  color: black !important;
}

.button-light:hover {
  background-color: #dadada !important;
  color: black !important;
}

.button-light:active {
  background-color: #cecece !important;
}

button, .button-primary, .button-primary:hover, .button-primary:active, .button-secondary, .button-secondary:hover, .button-secondary:active, .button-warning, .button-warning:hover, .button-warning:active, .button-nostalgia, .button-nostalgia:hover, .button-nostalgia:active, .button-dark, .button-dark:hover, .button-dark:active, .button-light, .button-light:hover, .button-light:active {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FAFBFC;
  border: 0;
  border-radius: 5px;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 8px 16px;
  position: relative;
  -webkit-transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover, .button-primary:hover, .button-secondary:hover, .button-warning:hover, .button-nostalgia:hover, .button-dark:hover, .button-light:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

button:active, .button-primary:active, .button-secondary:active, .button-warning:active, .button-nostalgia:active, .button-dark:active, .button-light:active {
  background-color: #EDEFF2;
  -webkit-transition: none 0s;
  transition: none 0s;
}

button:focus, .button-primary:focus, .button-secondary:focus, .button-warning:focus, .button-nostalgia:focus, .button-dark:focus, .button-light:focus {
  outline: 1px transparent;
}

button:before, .button-primary:before, .button-primary:hover:before, .button-primary:active:before, .button-secondary:before, .button-secondary:hover:before, .button-secondary:active:before, .button-warning:before, .button-warning:hover:before, .button-warning:active:before, .button-nostalgia:before, .button-nostalgia:hover:before, .button-nostalgia:active:before, .button-dark:before, .button-dark:hover:before, .button-dark:active:before, .button-light:before, .button-light:hover:before, .button-light:active:before {
  display: none;
}

button:-webkit-details-marker, .button-primary:-webkit-details-marker, .button-secondary:-webkit-details-marker, .button-warning:-webkit-details-marker, .button-nostalgia:-webkit-details-marker, .button-dark:-webkit-details-marker, .button-light:-webkit-details-marker {
  display: none;
}
/*# sourceMappingURL=style.css.map */